<ul class="c-actions">
  <li class="c-action">
    <span class="c-action__title">10 Orders Need Processing</span>
    <a href="" class="c-btn c-action__link">View Orders</a>
  </li>
  <li class="c-action">
    <span class="c-action__title">5 Messages that Need To Be Answered</span>
    <a href="" class="c-btn c-action__link">View Messages</a>
  </li>
  <li class="c-action">
    <span class="c-action__title">3 Must-Have Products Are Almost Sold Out</span>
    <a href="" class="c-btn c-action__link">View Products</a>
  </li>
</ul>