<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>actions Component's page</title>
</head>

<body>
  <div class="component-container">
    <ul class="c-actions">
      <li class="c-action">
        <span class="c-action__title">10 Orders Need Processing</span>
        <a href="" class="c-btn c-action__link">View Orders</a>
      </li>
      <li class="c-action">
        <span class="c-action__title">5 Messages that Need To Be Answered</span>
        <a href="" class="c-btn c-action__link">View Messages</a>
      </li>
      <li class="c-action">
        <span class="c-action__title">3 Must-Have Products Are Almost Sold Out</span>
        <a href="" class="c-btn c-action__link">View Products</a>
      </li>
    </ul>
  </div>
</body>

</html>