<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>button Component's page</title>
</head>

<body>
  <div class="component-container">
    <button class="c-btn">Default</button>
    <button class="c-btn c-btn--primary">Primary</button>
    <button class="c-btn c-btn--delete">Delete</button>
    <button class="c-btn c-btn--transparent">Transparent</button>
    <button class="c-btn c-btn--slim">slim</button>
  </div>
</body>

</html>