<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>card Component's page</title>
</head>

<body>
  <div class="component-container">
    <div class="c-card">
      <h3 class="c-card__title">Shipping information not found</h3>
      <a href="#" class="c-btn c-btn--primary c-card__action">Shipping information link</a>
      <p class="c-card__desc">
        Shipping information is not available, you have already set up your site by making it sell
        actual items, you have to fill in the shipping information in a store so that Okaz knows how to provide shipping
        to your customers.
      </p>
    </div>
    <div class="c-card c-card--no-desc">
      <h3 class="c-card__title">Shipping information not found</h3>
      <a href="#" class="c-btn c-btn--primary c-card__action">Shipping information link</a>
    </div>
    <div class="c-card c-card--no-btn">
      <h3 class="c-card__title">Shipping information not found</h3>
      <p class="c-card__desc">
        Shipping information is not available, you have already set up your site by making it sell
        actual items, you have to fill in the shipping information in a store so that Okaz knows how to provide shipping
        to your customers.
      </p>
    </div>
  </div>
</body>

</html>