<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>list Component's page</title>
</head>
<body>
  <div class="component-container">
    <div class="c-list">
      <img src="../assets/images/black-shirt.jpg" alt="black-shirt" class="c-list__media">
      <span class="c-list__data">Black Shirt M</span>
      <span class="c-list__data">Mo Abdalaziz</span>
      <span class="c-list__data">Egypt, Cairo</span>
      <span class="c-list__data">19.99$</span>
      <div class="c-list__actions">
        <a href="#" class="c-list__action c-btn c-btn--small c-btn--primary">Charged</a>  
        <a href="#" class="c-list__action c-btn c-btn--small">Contact</a>
        <a href="#" class="c-list__action c-btn c-btn--small c-btn--delete">Delete Order</a>
      </div>
    </div>
  </div>
</body>
</html>