<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>table Component's page</title>
</head>
<body>
  <div class="component-container">
    <div class="c-table c-table--select-all">
      <header class="c-table__header">
        <h3 class="c-table__title">Products</h3>
        <div class="c-table__actions">
          <button class="c-btn c-btn--delete c-btn--slim">Delete</button>
        </div>
        <div class="c-table__navigation">
          <span class="c-table__navigation__caption">6 out of 24</span>
          <div class="c-table__navigation__arrows">
            <button class="c-btn c-icon c-btn--icon"><i class="c-icon c-icon--arrow-left2"></i></button>
            <button class="c-btn c-icon c-btn--icon"><i class="c-icon c-icon--arrow-right2"></i></button>
          </div>
        </div>
      </header>
      <table class="c-table__data">
        <thead>
          <tr>
            <th>
              <input type="checkbox" id="select-all">
              <label for="select-all">Select All</label>  
            </th>
            <th>
              <label for="select-all">Select All</label>
            </th>
            <th>Product</th>
            <th>Main Price</th>
            <th>Local Price</th>
            <th>Quantity</th>
            <th>Sales</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="checkbox" id="item-1" name="item-1"></td>
            <td><img src="../assets//images/black-shirt.jpg"></td>
            <td>Black Shirt</td>
            <td>19.99$</td>
            <td>314 EGP</td>
            <td>23</td>
            <td>43</td>
          </tr>
          <tr>
            <td><input type="checkbox" id="item-2" name="item-2"></td>
            <td><img src="../assets//images/black-shirt.jpg"></td>
            <td>Black Shirt</td>
            <td>19.99$</td>
            <td>314 EGP</td>
            <td>23</td>
            <td>43</td>
          </tr>
          <tr>
            <td><input type="checkbox" id="item-3" name="item-3"></td>
            <td><img src="../assets//images/black-shirt.jpg"></td>
            <td>Black Shirt</td>
            <td>19.99$</td>
            <td>314 EGP</td>
            <td>23</td>
            <td>43</td>
          </tr>
          <tr>
            <td><input type="checkbox" id="item-4" name="item-4"></td>
            <td><img src="../assets//images/black-shirt.jpg"></td>
            <td>Black Shirt</td>
            <td>19.99$</td>
            <td>314 EGP</td>
            <td>23</td>
            <td>43</td>
          </tr>
          <tr>
            <td><input type="checkbox" id="item-5" name="item-5"></td>
            <td><img src="../assets//images/black-shirt.jpg"></td>
            <td>Black Shirt</td>
            <td>19.99$</td>
            <td>314 EGP</td>
            <td>23</td>
            <td>43</td>
          </tr>
        </tbody>
      </table>
      <footer class="c-table__footer">
        <div class="c-table__navigation">
          <span class="c-table__navigation__caption">6 out of 24</span>
          <div class="c-table__navigation__arrows">
            <button class="c-btn c-icon c-btn--icon"><i class="c-icon c-icon--arrow-left2"></i></button>
            <button class="c-btn c-icon c-btn--icon"><i class="c-icon c-icon--arrow-right2"></i></button>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>
</html>