<div class="c-tabs js-tabs">
  <div class="c-tabs__control">
    <span class="c-tabs__tab js-tab-link is-active" data-index="orders">
      Orders That Require Processing
    </span>
    <span class="c-tabs__tab js-tab-link" data-index="products">
      Products Running Out
    </span>
    <span class="c-tabs__tab js-tab-link" data-index="clients">
      New Customers
    </span>
  </div>
  <div class="c-tabs__content">
    <div class="c-tabs__tabarea js-tab-area is-active" data-indexed="orders">
      <div class="c-list">
        <img src="../assets/images/black-shirt.jpg" alt="black-shirt" class="c-list__media">
        <span class="c-list__data">Black Shirt M</span>
        <span class="c-list__data">Mo Abdalaziz</span>
        <span class="c-list__data">Egypt, Cairo</span>
        <span class="c-list__data">19.99$</span>
        <div class="c-list__actions">
          <a href="#" class="c-list__action c-btn c-btn--small c-btn--primary">Charged</a>
          <a href="#" class="c-list__action c-btn c-btn--small">Contact</a>
          <a href="#" class="c-list__action c-btn c-btn--small c-btn--delete">Delete Order</a>
        </div>
      </div>
    </div>
    <div class="c-tabs__tabarea js-tab-area" data-indexed="products">
      <div class="c-list">
        <img src="../assets/images/black-shirt.jpg" alt="black-shirt" class="c-list__media">
        <span class="c-list__data">Black Shirt M</span>
        <span class="c-list__data">Mo Abdalaziz</span>
        <span class="c-list__data">Egypt, Cairo</span>
        <span class="c-list__data">19.99$</span>
        <div class="c-list__actions">
          <a href="#" class="c-list__action c-btn c-btn--small c-btn--primary">Charged</a>
          <a href="#" class="c-list__action c-btn c-btn--small">Contact</a>
          <a href="#" class="c-list__action c-btn c-btn--small c-btn--delete">Delete Order</a>
        </div>
      </div>
      <div class="c-list">
        <img src="../assets/images/black-shirt.jpg" alt="black-shirt" class="c-list__media">
        <span class="c-list__data">Black Shirt M</span>
        <span class="c-list__data">Mo Abdalaziz</span>
        <span class="c-list__data">Egypt, Cairo</span>
        <span class="c-list__data">19.99$</span>
        <div class="c-list__actions">
          <a href="#" class="c-list__action c-btn c-btn--small c-btn--primary">Charged</a>
          <a href="#" class="c-list__action c-btn c-btn--small">Contact</a>
          <a href="#" class="c-list__action c-btn c-btn--small c-btn--delete">Delete Order</a>
        </div>
      </div>
    </div>
    <div class="c-tabs__tabarea js-tab-area" data-indexed="clients">
      <div class="c-list">
        <img src="../assets/images/black-shirt.jpg" alt="black-shirt" class="c-list__media">
        <span class="c-list__data">Black Shirt M</span>
        <span class="c-list__data">Mo Abdalaziz</span>
        <span class="c-list__data">Egypt, Cairo</span>
        <span class="c-list__data">19.99$</span>
        <div class="c-list__actions">
          <a href="#" class="c-list__action c-btn c-btn--small c-btn--primary">Charged</a>
          <a href="#" class="c-list__action c-btn c-btn--small">Contact</a>
          <a href="#" class="c-list__action c-btn c-btn--small c-btn--delete">Delete Order</a>
        </div>
      </div>
      <div class="c-list">
        <img src="../assets/images/black-shirt.jpg" alt="black-shirt" class="c-list__media">
        <span class="c-list__data">Black Shirt M</span>
        <span class="c-list__data">Mo Abdalaziz</span>
        <span class="c-list__data">Egypt, Cairo</span>
        <span class="c-list__data">19.99$</span>
        <div class="c-list__actions">
          <a href="#" class="c-list__action c-btn c-btn--small c-btn--primary">Charged</a>
          <a href="#" class="c-list__action c-btn c-btn--small">Contact</a>
          <a href="#" class="c-list__action c-btn c-btn--small c-btn--delete">Delete Order</a>
        </div>
      </div>
      <div class="c-list">
        <img src="../assets/images/black-shirt.jpg" alt="black-shirt" class="c-list__media">
        <span class="c-list__data">Black Shirt M</span>
        <span class="c-list__data">Mo Abdalaziz</span>
        <span class="c-list__data">Egypt, Cairo</span>
        <span class="c-list__data">19.99$</span>
        <div class="c-list__actions">
          <a href="#" class="c-list__action c-btn c-btn--small c-btn--primary">Charged</a>
          <a href="#" class="c-list__action c-btn c-btn--small">Contact</a>
          <a href="#" class="c-list__action c-btn c-btn--small c-btn--delete">Delete Order</a>
        </div>
      </div>
    </div>
  </div>
</div>