.page-container {
  padding-left: $layout-sidebar + spacing('normal');
  padding-right: spacing('normal');
}

.main-page {
  background: url('../images/confitti.svg') no-repeat top right;
}

.home-intro {
  display: flex;
  justify-content: space-between;
  margin-top: spacing('extra-wide');
  margin-bottom: spacing('wide');
  flex-wrap: wrap;
}

.welcome-tag {
  font-size: 26px;
}