$indicator-size: 10px;

.c-actions {
  @include e-card;
  padding: 0 spacing('extra-small');
  width: 100%;
  list-style: none;
}

.c-action {
  display: flex;
  align-items: center;
  padding: (spacing('extra-small') / 2) spacing('extra-small');
  border-bottom: 1px solid rgba(darken($color-brand, 40%), 0.1);
  flex-wrap: wrap;

  &:last-child {
    border: none;
  }
}

.c-action__title {
  font-size: 14px;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  // margin-right: auto;

  &::before {
    content: '';
    width: $indicator-size;
    height: $indicator-size;
    border-radius: $indicator-size / 2;
    background-color: $color-brand;
    display: inline-block;
    margin-right: spacing();
  }
}

.c-action__link,
.c-action__title {
  margin-top: spacing('extra-small') / 2;
  margin-bottom: spacing('extra-small') / 2;
}
