$indicator-size: 10px;

.c-actions {
  @include e-card;
  padding: 0 spacing('extra-small');
  width: 100%;
  list-style: none;
}

.c-action {
  display: flex;
  align-items: center;
  padding: spacing('extra-small');
  border-bottom: 1px solid rgba(darken($color-brand, 40%), 0.1);

  &:last-child {
    border: none;
  }
}

.c-action__title {
  font-size: 14px;
  flex-grow: 1;
  // margin-right: auto;

  &::before {
    content: '';
    width: $indicator-size;
    height: $indicator-size;
    border-radius: $indicator-size / 2;
    background-color: $color-brand;
    display: inline-block; 
    margin-right: spacing();
  }
}