$container-horizontal-spacing: spacing('small');

.c-list {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: spacing('extra-small') $container-horizontal-spacing;
  box-shadow: 0 0 0 1px rgba(#000000, 0.05);
}

.c-list__media {
  height: 60px;
  width: auto;
  margin-right: spacing('small');
}

.c-list__data {
  flex-grow: 1;
  margin-right: spacing('small');
}

.c-list__actions {
  margin-left: auto;
  text-align: right;
  margin-right: spacing('small');
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.c-list:hover .c-list__actions {
  opacity: 1;
}

.c-list--table-row {
  display: table-row;
}

// Responsive

@media (max-width: $bp-tablet-normal) {
  .c-list {
    flex-wrap: wrap;
  }

  .c-list__actions {
    margin-right: initial;
    margin-left: 0;
    text-align: left;
    opacity: 1;
  }

  .c-list__data:not(:first-of-type),
  .c-list__actions {
    width: 100%;
    padding-top: spacing('extra-small');
    padding-bottom: spacing('extra-small');
    border-top: 1px solid #f8f8f8;
    margin-left: -$container-horizontal-spacing;
    margin-right: -$container-horizontal-spacing;
    padding-left: $container-horizontal-spacing;
    padding-right: $container-horizontal-spacing;
  }
}
